@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');
/* BODY AND RELATED */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    background: url('images/5073414.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    z-index: -1;
}